<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<title>Status</title>*@
    <!-- Custom fonts for this template -->
    <link href="~/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/sb-admin/css/sb-admin-2.css" rel="stylesheet" />
    <!-- Custom styles for this page -->
    <link href="~/sb-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="~/tmartcss/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="~/tmartcss/style.css">
  
    <style>
        .bannercol {
            /*background: -webkit-gradient(linear,left top,right top,color-stop(0%,#001338),color-stop(50%,#00466d),color-stop(100%,#82dcff));
            background: -webkit-linear-gradient(left,#001338 0,#00466d 50%,#336ca4 100%);
            background: -moz-linear-gradient(left,#001338 0,#00466d 50%,#336ca4 100%);
            background: -ms-linear-gradient(left,#001338 0,#00466d 50%,#336ca4 100%);
            background: -o-linear-gradient(left,#001338 0,#00466d 50%,#336ca4 100%);*/
            background-color: #eeeeee;
        }

        #dataTablex th {
            /*background: -webkit-linear-gradient(left,#001338c4 0,#00466d 50%,#336ca473 100%);
            background: -moz-linear-gradient(left,#001338 0,#00466d 50%,#336ca4 100%);
            background: -ms-linear-gradient(left,#001338 0,#00466d 50%,#336ca4 100%);
            background: -o-linear-gradient(left,#001338 0,#00466d 50%,#336ca4 100%);*/
            color: #340909;
        }

       

        .track {
            position: relative;
            background-color: #ddd;
            height: 7px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 60px;
            margin-top: 50px;
        }

            .track .step {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                width: 25%;
                margin-top: -18px;
                text-align: center;
                position: relative;
            }

                .track .step.active:before {
                    background: #FF5722;
                }

                .track .step::before {
                    height: 7px;
                    position: absolute;
                    content: "";
                    width: 100%;
                    left: 0;
                    top: 18px;
                }

                .track .step.active .icon {
                    background: #ee5435;
                    color: #fff;
                }

            .track .icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                position: relative;
                border-radius: 100%;
                background: #ddd;
            }

            .track .step.active .text {
                font-weight: 400;
                color: #000;
            }

            .track .text {
                display: block;
                margin-top: 7px;
            }
    </style>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Online <sup></sup></div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="#" id="btnstatus">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>ติดตามการสั่งซื้อ</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="btnhisto">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>ประวัติสินค้า</span>
                </a>
            </li>
            <li class="nav-item">
              <!--  <a class="nav-link" href="#" id="btnstatement">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>สรุปยอดโปรโมชั่นเป้าปี</span>

                </a>-->
            </li>
            <!-- <li class="nav-item">
             <a class="nav-link" href="index.html">
                 <i class="fas fa-fw fa-tachometer-alt"></i>
                 <span>การคืนสินค้า</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="index.html">
                 <i class="fas fa-fw fa-tachometer-alt"></i>
                 <span>การเคลมสินค้า</span>
             </a>
         </li>-->
            <!-- Divider -->
            <!--<hr class="sidebar-divider"> -->
            <!-- Heading -->
            <!-- <div class="sidebar-heading">
             Interface
         </div>-->
            <!-- Nav Item - Pages Collapse Menu -->
            <!-- <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Components</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="buttons.html">Buttons</a>
                    <a class="collapse-item" href="cards.html">Cards</a>
                </div>
            </div>
        </li>-->
            <!-- Nav Item - Utilities Collapse Menu -->
            <!--<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Utilities</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Utilities:</h6>
                    <a class="collapse-item" href="utilities-color.html">Colors</a>
                    <a class="collapse-item" href="utilities-border.html">Borders</a>
                    <a class="collapse-item" href="utilities-animation.html">Animations</a>
                    <a class="collapse-item" href="utilities-other.html">Other</a>
                </div>
            </div>
        </li>-->
            <!-- Divider -->
            <!--  <hr class="sidebar-divider"> -->
            <!-- Heading -->
            <!-- <div class="sidebar-heading">
             Addons
         </div>-->
            <!-- Nav Item - Pages Collapse Menu -->
            <!-- <li class="nav-item">
             <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                aria-expanded="true" aria-controls="collapsePages">
                 <i class="fas fa-fw fa-folder"></i>
                 <span>Pages</span>
             </a>
             <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                 <div class="bg-white py-2 collapse-inner rounded">
                     <h6 class="collapse-header">Login Screens:</h6>
                     <a class="collapse-item" href="login.html">Login</a>
                     <a class="collapse-item" href="register.html">Register</a>
                     <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                     <div class="collapse-divider"></div>
                     <h6 class="collapse-header">Other Pages:</h6>
                     <a class="collapse-item" href="404.html">404 Page</a>
                     <a class="collapse-item" href="blank.html">Blank Page</a>
                 </div>
             </div>
         </li>-->
            <!-- Nav Item - Charts -->
            <!-- <li class="nav-item">
             <a class="nav-link" href="charts.html">
                 <i class="fas fa-fw fa-chart-area"></i>
                 <span>Charts</span>
             </a>
         </li>-->
            <!-- Nav Item - Tables -->
            <!-- <li class="nav-item active">
             <a class="nav-link" href="tables.html">
                 <i class="fas fa-fw fa-table"></i>
                 <span>Tables</span>
             </a>
         </li>-->
            <!-- Divider -->
            <!--  <hr class="sidebar-divider d-none d-md-block"> -->
            <!-- Sidebar Toggler (Sidebar) -->
            <!-- <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>-->
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>
                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">

                    </div>
                </form>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">

                        <!--  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-bell fa-fw"></i>

                      <span class="badge badge-danger badge-counter">3+</span>
                  </a>-->
                        <!-- Dropdown - Alerts -->
                        <!--   <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-donate text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 7, 2019</div>
                            $290.29 has been deposited into your account!
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>-->
                    </li>
                    <!-- Nav Item - Messages -->
                    <!--  <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>

                    <span class="badge badge-danger badge-counter">7</span>
                </a>-->
                    <!-- Dropdown - Messages -->
                    <!--    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">
                        Message Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                 alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">
                                Hi there! I am wondering if you can help me with a
                                problem I've been having.
                            </div>
                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                 alt="">
                            <div class="status-indicator"></div>
                        </div>
                        <div>
                            <div class="text-truncate">
                                I have the photos that you ordered last month, how
                                would you like them sent to you?
                            </div>
                            <div class="small text-gray-500">Jae Chun · 1d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                 alt="">
                            <div class="status-indicator bg-warning"></div>
                        </div>
                        <div>
                            <div class="text-truncate">
                                Last month's report looks great, I am very happy with
                                the progress so far, keep up the good work!
                            </div>
                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                 alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div>
                            <div class="text-truncate">
                                Am I a good boy? The reason I ask is because someone
                                told me that people say this to all dogs, even if they aren't good...
                            </div>
                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
                   
                </ul>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        @if (Session["UserType"].ToString() != "6")
                        {
                           <li class="nav-item dropdown messages-menu">
                               <a class="nav-link" href="#" id="nextsp">
                                   <i class="fa fa fa-dev" style="font-size: 1.7em;"></i>
                                   <span>กลับไปหน้าหลัก</span>
                               </a>
                          </li>
                        }
                        else if (Session["UserType"].ToString() == "6")
                        {
                         <li class="nav-item dropdown messages-menu">
                            <a class="nav-link" href="#" id="navbarhome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa fa-search" style="font-size: 1.7em;"></i>
                                <span class="label label-success bg-success" id="rd"></span>
                                <span>ช๊อปปิ้ง</span>
                            </a>
                        </li>
                         <li class="nav-item dropdown messages-menu">
                            <a class="nav-link" href="#" id="navbarshowdetail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-shopping-cart" style="font-size: 1.7em;"></i>
                                <span class="label label-success bg-success" id="countsku"></span>
                                <span> ตระกร้าสินค้า</span>
                            </a> 
                        </li>
                         <li class="nav-item dropdown messages-menu">
                             <a class="nav-link" href="#" id="navbarsselecus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <i class="fa fa-fw" style="font-size: 1.7em;"></i>
                                 <span>บัญชีลูกค้า</span>
                             </a>
                        </li>
                         
                        }
                       
                        <li class="nav-item dropdown  user-menu ">


                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa fa-user-circle-o" style="font-size: 1.7em;"></i>
                                @if (Session["UserType"].ToString() != "6")
                                {
                                    <span class="toggle__menu hidden-xs">บัญชีของคุณ @Session["UserID"]  </span>
                                }
                                else if (Session["UserType"].ToString() == "6")
                                {
                                    <span class="toggle__menu hidden-xs">บัญชีของคุณ @Session["UserID"]  </span>
                                }


                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @*<a class="dropdown-item" href="#">Action</a>*@
                                @*<a class="dropdown-item" href="~/Home2/Index">Home2</a>*@
                                @if (Session["UserType"].ToString() == "5")
                                    {
                                        <a class="dropdown-item" href="~/Orderlist/Index">Home</a>
                                    }
                                    else if (Session["UserType"].ToString() != "5")
                                    {
                                   <!--<a class="dropdown-item" href="~/Home/Index">ช๊อปปิ้ง</a>
                                    <a class="dropdown-item" href="~/Cart/Index">ตระกร้าสินค้า</a>
                                    <a class="dropdown-item" href="~/SeleScrCustomer/Index">บัญชีลูกค้า</a>--> 
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown messages-menu">

                            <a class="nav-link" href="~/Account/LogIn">
                                <i class="fa fa fa-outdent" style="font-size: 1.7em;"></i>
                                <span>ออกจากระบบ</span>
                            </a>
                        </li>

                    </ul>

                </div>
            </nav>
            <!-- End of Topbar -->
            @RenderBody()
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <!-- Bootstrap framework js -->
    <script src="~/tmartcss/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="~/tmartcss/js/plugins.js"></script>
    <script src="~/tmartcss/js/slick.min.js"></script>
    <script src="~/tmartcss/js/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="~/tmartcss/js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="~/tmartcss/js/main.js"></script>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>
</html>